.container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100vw;
}
.otherButton {
  background: white;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  width: 200px;
  margin-left: 20px;
}
.description {
  background: #ee231f;
  height: 60px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  width: 200px;
  margin-right: 30px;
  margin-left: 20px;
}
